:root
{
    --bg:transparent;

    --font-white:#ffffff;
    --font-gray:rgba(255, 255, 255, 0.365);

    --font-primary:#2f1c6a;
    --font-secondary:#554685;

    --font-roboto:'Roboto', sans-serif;
    --font-inter:'Inter', sans-serif;
    --font-mulis:'Mulish', sans-serif;

    --btn-primary:#ffffff;
    --btn-secondary:rgb(220, 20, 117);
}