@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1d1a40;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: var(--font-white);
}



/* modal */
.modal-login {
    position: fixed;
    top: -100%;
    left: 50%;
    min-width: 250px;
    transform: translate(-50%, -50%);
    padding: 5%;
    z-index: 12;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    font-family: var(--font-inter);
    color: var(--font-white);
    background: transparent;
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    border: 5px solid rgba(0, 0, 0, 0.275);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.modal-active {
    top: 55%;
}

#modal__close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    background: rgba(0, 0, 0, 0.275);
    border-radius: 5px;
    cursor: pointer;
}

#modal-login .logo {
    margin: 0 auto;
}

#modal-login p {
    font-size: 1.4rem;
    margin: 0 auto;
    color: var(--font-white);
    font-weight: 500;
    text-transform: capitalize;
}

#modal-login a {
    padding: .7em 2em;
    border-radius: 10px;
    background: rgba(23, 29, 49, 0.429);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--font-white);
}

#modal-login a:hover {
    background: #dc1475;
    color: var(--font-white);
}

#modal-login ion-icon {
    margin-right: 10px;
    font-size: 20px;
}

#modal-login a img {
    margin-right: 10px;
    width: 20px;
}


#modal-login button {
    background: transparent;
    font-size: .9em;
    font-weight: 500;
}

#modal-login button span:last-child {
    color: #00d0b0;
    font-weight: 600;
    cursor: pointer;
}

#modal-btn-text {
    color: var(--font-white);
}


/* make modal responsie */

@media screen and (max-width:650px) {
    .modal-login {
        width: 100%;
        min-height: 100vh;
    }

    .modal-login .logo {
        width: 120px;
    }

    .modal-login #modal-title {
        font-size: 17px;
    }

    .modal-login #modal__close {
        width: 30px;
    }
}



.container {
    /* position: relative; */
    width: 100vw;
    background: transparent;
}

.container::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 250px;
    height: 250px;
    background: #00d0b0;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -2;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 250px;
    height: 250px;
    background: #d000c6;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -2;
}

nav#navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-block: 15px;
    padding-inline: 7%;
    display: flex;
    align-items: center;
    gap: 2rem;
    background: rgba(0, 0, 0, 0.105);
    backdrop-filter: blur(80px);
    z-index: 5;
}

#menu__icon {
    display: none;
}

.nav__logo img {
    width: 150px;
    filter: invert(1);
}

.navbar__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.navbar__links {
    list-style-type: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

a.nav__link {
    font-family: var(--font-roboto);
    font-weight: 500;
}

#menu__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.drop__down__links {
    position: absolute;
    top: 100%;
    transform: translate(-40%, 0%);
    padding: 1rem 6rem 1rem 2rem;
    background: url(../images/card-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    border-radius: .5rem;
    transition: display 1s ease-in;
    z-index: 2;

}



.nav__link:focus+.drop__down__links {
    display: flex;
}

.nav__link:focus #menu__link>.down__arrow {
    rotate: 180deg;
}

li.drop__down__link:hover {
    scale: 1.1;
}

li.drop__down__link a {
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}



li.drop__down__link a img {
    width: 45px;
    height: 45px;
}

.menu__text {
    display: flex;
    flex-direction: column;
}

.menu__text .text__md {
    color: var(--font-white);
    font-family: var(--font-roboto);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.menu__text .text__sm {
    color: var(--font-gray);
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 300;
    line-height: 1rem;
}


.nav__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-inter);
}

.btn__login {
    background: var(--btn-primary);
    color: var(--font-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 30px;
}

.btn__login ion-icon {
    font-size: 1.7rem;
}

.btn__cart {
    color: var(--font-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 600;
    padding: 8px 20px;
    border: 2px solid var(--font-white);
    border-radius: 30px;
}

.btn__cart ion-icon {
    font-size: 1.6rem;
}


/* media query for navbar*/

@media screen and (max-width:1100px) {
    #menu__icon {
        display: inline;
        width: 30px;
    }

    nav {
        position: relative;
        justify-content: space-between;
    }

    .navbar__nav {
        position: absolute;
        top: 100%;
        left: -100%;
        min-height: 100vh;
        background: url(../images/card-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        transition: all .4s ease-in-out;
    }

    .navbar__show {
        left: 0%;
    }

    ul.navbar__links {
        list-style-type: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
        width: 100%;
    }

    ul.navbar__links li {
        width: 100%;
        border-bottom: 2px solid rgba(128, 128, 128, 0.466);
    }

    ul.navbar__links li #menu__link {
        width: 100%;
        justify-content: space-between;
        padding-inline: 7%;
        padding-block: 20px;
    }

    #menu__link span {
        font-weight: 700;
    }

    ul.drop__down__links {
        position: relative;
        top: 0%;
        transform: translate(0%, 0%);
        padding-inline: 7%;
        padding-block: 10px;
        background: rgba(0, 0, 0, 0.275);
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0px;
        border-radius: .5rem;
        transition: display 1s ease-in;
        backdrop-filter: blur(100px);
        --webkit-backdrop-filter: blur(100px)
    }

    .drop__down__links::after {
        content: '';
        display: none;
    }

    .drop__down__link a:hover {
        background: rgba(0, 0, 0, 0.375);
    }


    li.drop__down__link:hover {
        scale: 1;
    }


    li.drop__down__link a {
        font-family: var(--font-roboto);
    }

    li.drop__down__link a img {
        width: 45px;
        height: 45px;
    }

    .menu__text .text__md {
        font-size: 1rem;
    }

    .text__sm {
        display: none;
    }

    .nav__btns {
        width: 80%;
        margin: 30px auto 0px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        font-family: var(--font-inter);
    }

    .btn__login {
        background: var(--btn-primary);
        color: var(--font-black);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-weight: 600;
        padding: 11px 20px;
        border-radius: 20px;
    }

    .btn__login ion-icon {
        font-size: 1.7rem;
    }

    .btn__cart {
        color: var(--font-white);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-weight: 600;
        padding: 8px 20px;
        border: 2px solid var(--btn-primary);
        border-radius: 20px;
    }

    .btn__cart ion-icon {
        font-size: 1.6rem;
    }

}


/* hero section */
.hero__section {
    margin-top: 79px;
    padding-left: 5%;
    padding-block: 5%;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
    background: transparent;
    backdrop-filter: blur(100px);
}

.hero__section__content {
    padding: 1rem 1rem;
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    /* background: rgba(0,0,0,.4); */
    /* background: url(../images/bg-design.webp),rgba(0, 0, 0, 0.405); */
    background-size: cover;
}

.hero__img {
    grid-column: 7/13;
}

img.hero__img {
    object-fit: cover;
}

.hero_title {
    max-width: 450px;
    background: var(--font-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-mulis);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.price__tag {
    color: var(--font-white);
    font-family: var(--font-mulis);
    font-size: 4.6rem;
    font-weight: 900;
    line-height: 4.6rem;
}

.price__tag sup {
    font-size: 2.5rem;
}

.price__tag span {
    font-size: 2rem;
    font-weight: 700;
}

.description {
    max-width: 400px;
    color: var(--font-white);
    font-family: var(--font-mulis);
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
}

.timer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: var(--font-roboto);
    color: var(--font-white);
}

h3.time__counter {
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    display: grid;
    place-items: center;
    font-family: var(--font-inter);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.405);
    border: 2px solid rgba(255, 255, 255, 0.166);
    border-radius: 5px;
}

.timer span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time__tag {
    margin-top: .5rem;
    font-family: var(--font-inter);
}

.cta__btn {
    width: 70%;
    text-align: center;
    margin-top: 1.5rem;
    background: var(--btn-secondary);
    color: var(--font-white);
    font-size: 1.2rem;
    font-family: var(--font-mulis);
    font-weight: 700;
    box-shadow: 0px 10px 30px rgba(220, 20, 117, 0.518);
    padding: 15px 0px;
    border-radius: 40px;
}

.cta__btn:hover {
    background: #00d0b0;
    box-shadow: 0px 10px 30px #00d0b0;
}

p.note {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--font-white);
    font-family: var(--font-mulis);
    /* display: flex; */
    /* align-items: center; */
    gap: .5rem;
}

p.note ion-icon {
    margin-right: 5px;
    font-size: 1.2rem;
    color: #00d0b0;
}

@media screen and (max-width:1000px) {

    .hero__section {
        padding-inline: 0%;
    }

    .hero__section__content {
        grid-column: 1/13;
        margin: 0 auto;
    }

    .hero__img {
        grid-column: 1/13;
        margin: 5rem auto 0px auto;
    }

    img.hero__img {
        width: 80%;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 13px;
    }

    .hero_title {
        text-align: center;
    }

    .price__tag {
        width: 100%;
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: 1.2rem;
    }

    .timer {
        width: 100%;
        justify-content: center;
    }

    .cta__btn {
        margin-inline: auto;
    }

    p.note {
        margin-inline: auto;
        font-size: 1.2rem;
        text-align: center;
    }
}

/* pricing section css */
section.pricing {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(100px);
}

section.pricing::before {
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 250px;
    height: 250px;
    background: #00d0b0;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -2;
}

section.pricing::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 250px;
    height: 250px;
    background: #d000c6;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -2;
}

.pricing p.title {
    margin-inline: auto;
    padding: 3rem 0px 1rem 0px;
    text-align: center;
    font-family: var(--font-mulis);
    color: var(--font-white);
    font-size: 2rem;
    font-weight: 800;
}

.pricing p.desc {
    max-width: 580px;
    margin-inline: auto;
    text-align: center;
    font-family: var(--font-mulis);
    color: var(--font-gray);
    font-size: 1rem;
}

.pricing_container {
    margin-top: 3rem;
    padding-inline: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing_container .card {
    background: rgba(0, 0, 0, 0.105);
    backdrop-filter: blur(100px);
    min-height: 500px;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.plan__title {
    color: var(--font-white);
    font-family: var(--font-roboto);
    font-size: 2rem;
    text-align: center;
}

.plan__price {
    /* margin-top: .7rem; */
    color: var(--font-white);
    font-family: var(--font-mulis);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.plan__price sup,
.plan__price span {
    color: var(--font-gray);
}

hr.line {
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, .205);
}

.features {
    margin-top: 2rem;
}

ul.features_list {
    list-style: none;
}

li.feature {
    font-family: var(--font-inter);
    color: var(--font-white);
    padding: 10px 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

li.feature ion-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    --ionicon-stroke-width: 20px;
}

li.feature ion-icon.shield__right {
    color: rgb(2, 240, 2);
}

li.feature ion-icon.shield__close {
    color: rgb(240, 2, 109);
}

.choose__plan__btn {
    margin-top: 2rem;
    background-color: #dc1475;
    box-shadow: 0px 10px 30px rgba(220, 20, 117, 0.518);
    font-family: var(--font-roboto);
    padding-block: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.choose__plan__btn:hover {
    background: #00d0b0;
    box-shadow: 0px 10px 30px #00d0b0;
}

/* 😇make pricing section responsive😇 */
@media screen and (max-width:1260px) {
    .pricing_container {
        margin-top: 3rem;
        padding-inline: 7%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:860px) {
    .pricing_container {
        margin-top: 3rem;
        padding-inline: 7%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}